
<%- include("partials/header"); -%>
<h1>Compose</h1>

<form class="" action="/compose" method="post">
<div class="form-group">

  <label for="text" class="form-label">Title</label>
  <input type="text" name="input1" class="form-control" >

  <label for="text" class="form-label">post</label>
  <textarea class="form-control" name="input2" rows="6"></textarea>

</div>
<button class="btn btn-primary" type="submit" name="button">publish</button>
</form>
<%- include("partials/footer"); -%>
